@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://use.fontawesome.com/releases/v5.0.13/css/all.css);/*
 * bootstrap-tagsinput v0.8.0
 * 
 */

.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    width: 100%;
    line-height: 22px;
    cursor: text;
}

.bootstrap-tagsinput input {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
    color: #777;
    opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
    color: #777;
}

.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
    color: #777;
}

.bootstrap-tagsinput input:focus {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.bootstrap-tagsinput .badge {
    margin-right: 2px;
    color: white;
    background-color: #0275d8;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #01649e
}

.bootstrap-tagsinput .badge [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}

.bootstrap-tagsinput .badge [data-role="remove"]:after {
    content: "\D7";
    padding: 0px 4px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    font-size: 13px
}

.bootstrap-tagsinput .badge [data-role="remove"]:hover:after {

    background-color: rgba(0, 0, 0, 0.62);
}

.bootstrap-tagsinput .badge [data-role="remove"]:hover:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
nav.navbar {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .years {
    display: none;
  }
}

table.table td {
  padding: 2px !important;
  vertical-align: middle;
  text-align: right;
}

table.table td,
table.table th {
  position: relative;
}

@media only screen and (max-width: 600px) {
  table.table td,
  table.table th {
    display: none;
  }

  table.table td.table-active,
  table.table th.table-active {
    display: table-cell;
  }

  table.table td.description,
  table.table th.description {
    width: 200px;
  }
}

table.table td .btn,
table.table th .btn {
  padding: 5px;
  margin-left: 3px;
}

table.table td .btn.btn-link,
table.table th .btn.btn-link {
  width: auto;
}

font.negative {
  color: #bf0606;
}

font.positive {
  color: #0e4a0e;
}

input[type="date"] {
  padding-right: 3px;
}

.btn {
  max-width: 100% !important;
}

.actions-buttons,
.actions-buttons > * {
  float: right;
}

font {
  display: block;
}

.title-buttons {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-buttons .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 5px;
}

.card {
  margin-bottom: 10px;
}

.no-padding {
  padding: 0 !important;
}

.card {
  background-color: transparent !important;
}

.card-footer {
  z-index: 1;
}

.banco_image {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  width: 100%;
  height: 100%;
  background: #80808099;
}

.loading i {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: white;
}

h4 {
  margin: 15px 0 !important;
}

